lxml == 5.1.1
docopt == 0.6.2
tqdm == 4.66.2
tldextract == 5.1.2
requests == 2.28.2
sklearn-crfsuite == 0.3.6

# 0.18 is need for GroupKFold
# pin version of scikit-learn because the version above 1.2.0 create issues with formasaurus init. \
# We have to check after some time if the issue is fixed.
scikit-learn == 1.1.3
